<app-navbar></app-navbar>
<div class="container py-3">
    <div class="row">
        <div class="col-md-9">
            <h2>Books Listed</h2>
        </div>

        <div class="col mr-auto text-right">
            <button data-testid="add-button" class="float-end" mat-raised-button color="primary" (click)="onAddBook()">
                <i class="fa fa-plus"></i>&emsp;New Book</button>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4 mt-3" *ngFor="let singleBook of books; let i=index">
            <app-book [book]="singleBook"
            ></app-book>
        </div>
    </div>
</div>

<div class="modal fade show" [class.show]="showModal" data-testid="add-form">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Add New Book</h5>
            <button (click)="onCloseModal()"  type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <form [formGroup]="bookForm" (ngSubmit)="onAddBookSubmit()"> 
            <div class="modal-body">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Book Name</mat-label>
                        <input matInput type="text" class="form-control" data-testid="name-required"
                            formControlName="name" required>
                        <mat-error *ngIf="!bookForm.get('name')!.valid && bookForm.get('name')!.touched">Please Enter Book Name.</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Author Name</mat-label>
                        <input matInput type="text" class="form-control" data-testid="author-required"
                        formControlName="author" required>
                        <mat-error *ngIf="!bookForm.get('author')!.valid && bookForm.get('author')!.touched">Please Enter Author Name.</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Book Price</mat-label>
                        <input matInput type="text" class="form-control" data-testid="price-required"
                        formControlName="price" required>
                        <mat-error *ngIf="!bookForm.get('price')!.valid && (bookForm.get('price')!.touched)">Book Price is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Book Image URL</mat-label>
                        <input matInput type="text" class="form-control" formControlName="imageUrl">
                    </mat-form-field>
                </div>
                
            </div>
            <div class="modal-footer">
                <button mat-raised-button color="primary" data-testid="submit-button"
                     (click)="onAddBookSubmit()" type="reset" 
                     class="mx-3"  [disabled]="!this.bookForm.valid" >Add Book</button>
                <button data-testid="close-button" mat-raised-button type="button" (click)="onCloseModal()" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>


