<body>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="form-container">
      <div class="form-header">
        <h3><strong>Login</strong></h3>
        <hr />
      </div>
      <div class="form-body">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Enter your Email</mat-label>
            <input
              matInput
              type="text"
              id="email"
              class="form-control"
              formControlName="email"
              placeholder="Email"
              required
            />
            <mat-error
              data-testid="email-invalid"
              *ngIf="loginForm.controls['email'].errors?.['email'] && !loginForm.controls['email'].errors?.['required']"
            >
              Please enter a valid email address
            </mat-error>
            <mat-error
              data-testid="email-required"
              *ngIf="loginForm.controls['email'].errors?.['required'] &&
                            (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
            >
              Email required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input
              data-testid="input-password"
              matInput
              [type]="hide ? 'password' : 'text'"
              class="form-control"
              formControlName="password"
              required
            />
            <button
              data-testid="toggle-password"
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              data-testid="password-required"
              *ngIf="
                !loginForm.get('password')!.valid &&
                loginForm.get('password')!.touched
              "
              >Password required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="submit-button">
          <button
            data-testid="submit-button"
            [disabled]="loginForm.invalid"
            mat-raised-button
            color="primary"
            type="submit"
            class="my-2"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</body>
